body {
    background: #F0F0F0;
}

div#janela ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#form_canal {
    margin: 15px 0 0 15px;
}

input#nome_canal {
    box-sizing: border-box;
    width: 255px;
    height: 25px;
}

button#getNome_canal {
    box-sizing: border-box;
    width: 60px;
    height: 25px;
}

div#janela ul li.principal {
    box-sizing: border-box;
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
    width: 320px;
    height: 180px;
}

img {
    border-radius: 5px;
}

div#janela ul li.principal div.foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    clip: rect(0 320px 180px 0);
}

.dataBtn {
    z-index: 2;
}

div#janela ul li.principal div.foto div.legenda:hover {
    top: 50px;
}

div#janela ul li.principal div.foto div.legenda {
    position: absolute;
    top: 130px;
    left: 0;
    width: 320px;
    height: 50px;
    z-index: 2;
    padding: 0 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

div#janela ul li.principal div.foto div.legenda:hover {
    height: 150px
}

div#janela ul li.principal div.foto div.legenda h5 {
    font-family: 'Segoe UI', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: rgb(255, 254, 224);
    margin: 0;
}

div#janela ul li.principal div.foto div.legenda:hover p {
    color: white;
}

div#janela ul li.principal div.foto div.legenda:hover p.dataPub {
    color: rgb(230, 60, 60);
}

div#janela ul li.principal div.foto div.legenda p {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0);
    margin: 2px;
    max-height: 50px;
    overflow: hidden;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

div#janela ul li.principal div.foto div.legenda p.dataPub {
    font-weight: 400;
    position: absolute;
    bottom: 30px;
    right: 0;
}

div#loadingDiv {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    margin: 10px 3px;
    transition: background-color 0.3s;
}